*{
    margin: 0;
    padding: 0;
    font-family: 'Metropolis';
}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis.regular.otf') format('opentype');
    font-weight:normal;
    font-style:normal
}


:root{
    --primary-purple: #722ED1;
    --secondary-purple:#F7F1FF;
    --black-primary:#000;
    --black-secondary-: #8989A2;
}

.section-one{
    padding: 40px 240px ;
    background-color:  rgb(221, 234, 238);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.itens-menu{
    display: flex;
    gap: 40px;
    align-items: center;
}

.itens-menu ul{
    display: flex;
    gap: 40px;
    font-size: 20px;
    list-style: none;
}

.itens-menu ul li a{
    text-decoration: none;
    color: #000;
}

.itens-menu a:hover{
    color: var(--primary-purple);
    font-weight: 700;
}


.login:hover{
    color: var(--primary-purple);
    cursor: pointer;
}

.iniciar{
    border: solid 1px var(--primary-purple);
    color: var(--primary-purple);
    font-size: 18px;
    padding: 10px;
    width: 210px;
    height: 38px;
    background: transparent;
    border-radius: 23px;
    font-weight: 500;
}

.iniciar:hover{
    background-color: var(--secondary-purple);
    cursor: pointer;
}

.content-header{
    margin-top: 131px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.text-header span{
    background-color: var(--secondary-purple);
    color: var(--primary-purple);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;

}
.text-header{
    width: 50%;
    height: 494px;
}

.text-header a{
    color: #722ED1;

}

.text-header h1{
    margin-top: 65px;
    font-size: 48px;
    max-width: 490px;
    color: var(--black-text);
}

.text-header p{
    max-width: 670px;
    margin-top: 30px;
    color:var(--black-secondary-);
    font-size: 20px;
}

.banner-header{
    align-items: flex-end;
    
}

.banner-header img{
   
}

.buttons-header{
    display: flex;
}

.button-header{
    margin-top: 45px;
    font-size: 17px;
    width: 186px;
    height: 38px;
    margin-right: 24px;
    border: none;
    color: var(--primary-purple);
    border-radius: 23px;
    color:#722ED1;
    background-color: #fff;


}

.button-header:hover{
    background-color: var(--primary-purple);
    color: #fff;
    cursor: pointer;
}

.section-two{
    padding: 40px 240px ;
    margin-top: 124px;
}

.content-section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title-section-two{
    width: 963px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.why-text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-purple);
    width: 230px;
    height: 40px;
    border-radius: 20px;

}

.why-text span{
    color: var(--primary-purple);
    font-weight: 500;
    font-size: 20px;
}

.why-text img{
    margin-right: 10px;
}

.description-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-text h2{
    font-size: 35px;
    font-weight: 700;
    margin-top: 24px;
}

.description-text p{
    margin-top: 24px;
    max-width: 890px;
    color: var(--black-secondary-);
    font-size: 16px;
}

.steps{
    margin-top: 30px;
    width: 963px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.content-step h3{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
}

.content-step p{
    margin-top: 16px;
    max-width: 500px;
    font-size: 16px;
    color: var(--black-secondary-);
}

.section-four{
    padding: 40px 240px ;
    display: flex;
    justify-content: center;
}

.content-section-four{
    display: flex;
    gap: 88px;

}

.text-section-four{
    display: flex;
    flex-direction: column;
}

.text-section-four h2{
    margin-top: 24px;
    font-size: 32px;
    font-weight: 700;

}

.text-section-four p{
    margin-top: 24px;
    font-size: 16px;
    color: var(--black-secondary-);
    max-width:500px ;
}

.img-section-four{
    display: flex;
    justify-content: center;
}

.content-text-four{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.text-span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-purple);
    width: 320px;
    height: 40px;
    border-radius: 20px;
    
}

.text-span span{
    margin-left: 10px;
    font-size: 18px;
    color: var(--primary-purple);

}

